
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html" >
                    <img class="img-fluid" src="../../assets/img/logo/logo_HQ_negativo_mejorado_100x100.jpg">
                </a>
        
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="ftco-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/soyana">Soy Ana</a>
                    </li>      
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Formaciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Cursos</a>
                            <a class="dropdown-item" href="#">MasterClass</a>                            
                            <a class="dropdown-item" href="#">WorkShops</a>                            
                        </div>
                    </li> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Coaching
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1:1</a>
                            <a class="dropdown-item" href="#">Grupal</a>                            
                            <a class="dropdown-item" href="#">Equipos</a>                            
                        </div>
                    </li>                                                         
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Contacto</a>
                    </li>  
                    <li class="nav-item">
                        <a *ngIf="loggedIn; else loginButtonResponsive" class="btn btn-success mt-3" id="boton_acceso_aula_responsive" routerLinkActive="active" routerLink="/summary">BIENVENIDO</a>
                        <ng-template #loginButtonResponsive>
                            <a class="btn btn-dark mt-3" id="boton_acceso_aula_responsive" routerLinkActive="active" routerLink="/summary">ACCESO AULA</a>
                        </ng-template>
                        
                    </li>                                             
                </ul>
              </div>
              <a *ngIf="loggedIn; else loginButton" class="btn btn-success" id="boton_acceso_aula" routerLinkActive="active" routerLink="/summary">BIENVENIDO</a>
              <ng-template #loginButton>
                  <a class="btn btn-dark" id="boton_acceso_aula" routerLinkActive="active" routerLink="/summary">ACCESO AULA</a>
              </ng-template>
              <!--<a class="btn btn-dark" id="boton_acceso_aula" routerLinkActive="active" routerLink="/home">ACCESO AULA</a>-->
            </div>
          </nav>
        
