        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
            <div class="container">
                <a class="navbar-brand" href="index.html" >
                    <img class="img-fluid" src="../../assets/img/logo/logo_HQ_negativo_100x100.jpg">
                </a>
                <!-- Botón de alternancia para modo responsive -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/soyana">Soy Ana</a>
                        </li>      
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Formaciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Cursos</a>
                            <a class="dropdown-item" href="#">MasterClass</a>                            
                            <a class="dropdown-item" href="#">WorkShops</a>                            
                            </div>
                        </li> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Coaching
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">1:1</a>
                            <a class="dropdown-item" href="#">Grupal</a>                            
                            <a class="dropdown-item" href="#">Equipos</a>                            
                            </div>
                        </li>                                                         
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/soyana">Mentorías</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/soyana">Asesorías</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/soyana">Contacto</a>
                        </li>  
                        <li class="nav-item d-md-none">
                            <a class="btn btn-primary mt-3" routerLinkActive="active" routerLink="/summary">ACCESO AULA</a>
                        </li>                                             
                    </ul>
                </div> 
                <a class="btn btn-primary" id="boton_acceso_aula" routerLinkActive="active" routerLink="/summary">ACCESO AULA</a>           
            </div>
        </nav>
