<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <img class="img-fluid" src="../../assets/img/logo/logo_HQ_negativo_100x100.jpg">
        </a>
  
      <!-- Botón de alternancia para modo responsive -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="select('inicio')">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="select('acerca')">Acerca de</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Submenú
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Subitem 1</a>
              <a class="dropdown-item" href="#">Subitem 2</a>
              <!-- Agrega más elementos según sea necesario -->
            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">ENTRAR<i class="fa fa-arrow-right ms-3"></i></a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
