<section class="intro py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="intro-box w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-clock-o"></span>
                    </div>
                    <div class="text pl-3">
                        <h4 class="mb-0">Finde transformador</h4>
                        <span>9 y 10 de marzo</span>
                    </div>
                </div>
            </div>  
            
            <div class="col-md-4">
                <div class="intro-box w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-venus"></span>
                    </div>
                    <div class="text pl-3">
                        <h4 class="mb-0">Bienestar Integral</h4>
                        <span>Exclusivo para mujeres</span>
                    </div>
                </div>
            </div>  

            <div class="col-md-4">
                <div class="intro-box w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-phone"></span>
                    </div>
                    <div class="text pl-3">
                        <h4 class="mb-0">Mas información en el 618210095</h4>
                        <span>Y en info@espaciobumeran.com</span>
                    </div>
                </div>
            </div>

          

        </div>
    </div>	
</section>
