<div *ngIf="mostrarTalleres">
    <h1>¡ENHORABUENA!</h1>
    <h3>Tu preinscripción a los talleres online de Espacio Bumerán ha sido realizada con éxito.</h3>
    <p><b>Para confirmar la inscripción</b> a los talleres tendrás que abonar la cantidad de <b>{{precio}}</b></p>
    <p>Puedes abonarlo:</p>
    <li>Vía <b>Bizum</b> al número de teléfono: 618210095</li>
    <li>Vía <b>Transferencia</b> al número de cuenta <b>ES51 3190 2099 17 5819838227</b></li>                                                        
    <br><p>(*) Recuerda poner en el concepto el identificador de inscripción {{inscriptionId}} o tu email</p>
</div>
<div *ngIf="mostrarVirago">
    <h1>¡ENHORABUENA!</h1>
    <h3>Tu preinscripción al evento VIRAGO de Espacio Bumerán ha sido realizada con éxito.</h3>
    <p><b>Para confirmar la inscripción</b> al evento tendrás que abonar la cantidad de <b>{{precio}}</b></p>
    <p>Puedes abonarlo:</p>
    <li>Vía <b>Bizum</b> al número de teléfono: 618210095</li>
    <li>Vía <b>Transferencia</b> al número de cuenta <b>ES51 3190 2099 17 5819838227</b></li>                                                        
    <br><p>(*) Recuerda poner en el concepto el identificador de inscripción {{inscriptionId}} o tu email</p>
</div>