<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2>¿Qué incluye?</h2>
        <span class="subheading"></span>
      </div>
    </div>
        <div class="row">
      <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
        <div class="d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-goal"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Alojamiento</h3>
            <p>La noche del sábado al domingo nos alojaremos en histórico hotel Alfonso VI</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
        <div class="d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-stress"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Desayuno consciente</h3>
            <p>Una práctica que se centra en estar plenamente presente y consciente durante la comida de la mañana</p>
          </div>
        </div>    
      </div>
      <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
        <div class="d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-crm"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Baños árabes</h3>
            <p>Bienestar corporal y emocional se dan la mano en un lugar de ensueño</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex services align-self-stretch px-4 ftco-animate">
        <div class="d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="fa-solid fa-globe"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Turismo emocional</h3>
            <p>Es una forma de viajar que se centra en experiencias transformadoras que nutren el alma y enriquecen la vida de las personas</p>
          </div>
        </div>      
      </div>
    </div>
    </div>
</section>
