<!--
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        
            <div class="owl-carousel-item position-relative" *ngFor="let image of images">
                    <img class="img-fluid" [src]="getImagePath(image)" alt="">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-10 col-lg-8">
                                        <h1 class="display-2 text-white animated slideInDown mb-4">MINI RETIRO VIRAGO</h1>
                                        <p class="fs-5 fw-medium text-white mb-4 pb-2">Conexión Interior</p>
                                        <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                        <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Our Classes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>

    </div>
  </div>
-->
<div class="hero-wrap">
    <div class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(../../assets/img/mujeres_desayunando.jpg);">
          <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-10 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-4">RETIRO EN TOLEDO</h1>                      
                            <h2>9 y 10 de marzo</h2>                            
                            <p><a routerLink="/inscripcion-virago" class="btn btn-white">REGÁLATELO</a></p>
                        </div>
                    </div>
                </div>
            </div>
      </div>

      <div class="slider-item" style="background-image:url(../../assets/img/mujeres_yoga.jpg);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center ">
              
                <div class="col-md-10 ftco-animate">
                    <div class="text w-100 text-center">
                        <h1 class="mb-4">RETIRO EN TOLEDO</h1>                      
                        <h2>Conexión Interior</h2>                            
                        <p><a routerLink="/inscripcion-virago" class="btn btn-white">REGÁLATELO</a></p>
                    </div>
                </div>
            </div>
        </div>
      </div>


      <div class="slider-item" style="background-image:url(../../assets/img/medina_mudejar.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-10 ftco-animate">
                <div class="text w-100 text-center">
                      <h1 class="mb-4">RETIRO EN TOLEDO</h1>                      
                      <h2>Bienestar Integral</h2>                            
                      <p><a routerLink="/inscripcion-virago" class="btn btn-white">REGÁLATELO</a></p>
                </div>
              </div>
          </div>
      </div>
    </div>
    </div>
  </div>
